/*===========================
    ListProperties
    */
.select{
    margin-left:4px;
    width:90px;
    color:#A63800;
    font-weight:bold;
}
#pesquisaSelect{
    margin-left:4px;
    width:90px;
    height:33px;
    color:#A63800;
    font-weight:bold;

}

.line_table_list_property {
    border: 5px;
    border-style: solid;
    border-width: 10px;
    padding: 1px;
    background:#ffffff;
    border-color:#ffffff;
 
}

.list_property{
    margin-top:10%;
    width: 82%;
    height: 100%; 
    float: right; 
    border:#ffffff;
    background:#ffffff;   
    position: relative;
}

.filter_list {
    margin-top:10%;
    margin-left:20px;
    padding-right:10px;
}

td:first-child {
    color:#A63800;
    font-weight:bold;

}
td:nth-child(3) {
    color:#A63800;
    font-weight:bold;

}


td:nth-child(5) {
    color:#A63800;
    font-weight:bold;

}
#maps {
     height: 30%;
     
}

#tab {
    
    height:33px;
    border-radius:1%;
    position:relative;
}
.pagination {
    
    font-weight:bold;
    display:block;
    margin-left:30%;
   
    

}
#map-canvas {
            position: relative;
            height: 200px;
            width:75%;
            margin-left:130px;
           
        }
/*===========================
    Index
    */
.escondida {
        display: none;
    }
/*===========================
    ViewProperty
    */
.announcementTitle {
    color:#A63800;
    font-weight:bold;
}
#map {
     position: relative;
     height: 150px;
     width:100px;
         
}
.tabelTitle {
    color:#FF5600;
    font-weight:bold;
    font-size: large;
    height:50px;
}

.tabelCaracteristicas{
    width: 70%; 
    margin-top: -15px;
    margin-left:5%;
}

#wordCaracteristicas {
    color: #FF5600;
    font-weight:bold;
    font-size: medium;
}
.h3 {
    color: #A63800; 
    margin-top: -5px;
    text-align:right;
    font-size:20px;
}
.bodyproperty {
    margin-top:10%; 
    margin-left:3%;
    margin-right:3%
}
#pano {
     position: relative;
     height: 150px;
     width:100px;
}
/*===========================
    AddProperty
    */
.filterList {
    margin-left:20px;
    padding-right:10px;
}

.titleLocation {
    color: #A63800; 
    margin-top:10px;
    font-size:20px;
    font-weight:bold;
}
.list{
    margin-left:4px;
    width:200px;
    height:35px;
    color:#A63800;
    font-weight:bold;
    border-radius:5px;
    border-bottom-width:medium;
}
.tipologia {
    margin-left:4px;
    width:100px;
    height:35px;
    color:#A63800;
    font-weight:bold;
    border-radius:5px;
    border-bottom-width:medium;
}
.bodyaddproperty {
    margin-top:10%; 
    margin-left:5%;
    margin-right:5%
}
