<!DOCTYPE>
@{
    ViewBag.Title = "Anúncios";
}
<link rel=”stylesheet” type=”text/css” href=”Site.css” />
<body style="background-color:black">
    <div style="width: 30%; height: 100%; background-color: blue; float: left" >
        <h4><strong>Pesquisa</strong></h4>
        <table>
            <tr>
                <td>Tipologia </td>
                <td>
                    <select  class="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cidade</td>
                <td>
                    <select class="select">
                        <option>Lisboa</option>

                    </select>
                </td>
            </tr>
            </tr>
            <tr>
                <td>Concelho</td>
                <td>
                    <select class="select"></select>
                </td>
            </tr>
            <tr>
                <td>Freguesia</td>
                <td>
                    <select class="select"></select>
                </td>
            </tr>
            <tr>
                <td>Nº Wc</td>
                <td>
                    <select class="select">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>>5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Área</td>
                <td><input type="range" name="range1" min="50" max="500" step="20" value="100" /></td>
            </tr>
            <tr>
                <td>Preço</td>
                <td><input type="range" name="range1" min="50" max="500" step="20" value="100" /></td>
            </tr>
        </table>
        <h5><strong>Características:</strong></h5>
        <table>
           
            <tr>
                <td>Mobilado</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Equipado</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Piscina</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Garagem</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Varanda</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Elevador</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Porteiro</td>
                <td><input class ="checkbox" type="checkbox"></td>
            </tr> 
            <tr>
                <td>Jardim</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
            <tr>
                <td>Animais</td>
                <td><input class="checkbox" type="checkbox"></td>
            </tr>
        </table>
   
    </div>
    <div style="width: 70%; height: 100%; background-color: orange; float: right ">
        
        <div style="height: 30%; background-color: red">
            MAPA
        </div>

        <p>LISTA DAS CASAS</p>

        <table border="1" align="center">
            <tr>
                <td colspan="2">
                    Casa 1
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 2
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 3
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Casa 4
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 5
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 6
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Casa 7
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 8
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 9
                </td>
            </tr>
        </table>
    </div>

</body>