<!DOCTYPE>
@{
    ViewBag.Title = "Anúncios";
}

<body>
    <div style="width: 30%; height: 100%; background-color: blue; float: left" >
        <h4><strong>Pesquisa</strong></h4>
        <ul>
            <li>Tipologia</li>
            <li>Cidade</li>
            <li>Concelho</li>
            <li>Freguesia</li>
            <li>Área</li>
            <li>Nº Wc</li>
            <li>Preço</li>
        </ul>
            <h5><strong>Características:</strong></h5>
            <ul><li>Mobilado</li>
            <li>Equipado</li>
            <li>Piscina</li>
            <li>Garagem</li>
            <li>Varanda</li>
            <li>Elevador</li>
            <li>Porteiro</li>
            <li>Jardim</li>
            <li>Animais</li>

        </ul>
    </div>
    <div style="width: 70%; height: 100%; background-color: orange; float: right ">
        
        <div style="height: 30%; background-color: red">
            MAPA
        </div>

        <p>LISTA DAS CASAS</p>

        <table border="1" align="center">
            <tr>
                <td colspan="2">
                    Casa 1
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 2
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 3
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Casa 4
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 5
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 6
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Espaço
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Casa 7
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 8
                </td>
                <td colspan="2">
                    Espaço
                </td>
                <td colspan="2">
                    Casa 9
                </td>
            </tr>
        </table>
    </div>
</body>