
@{
    ViewBag.Title = "Index";
}

<body style="margin-top:10%">

    <div style="margin-left:35%">
        <button style="height:70px; font-size:20px;" type="button" class="btn btn-warning">Procuro Casa</button> &ensp;&ensp;&ensp;<button style="height:70px; font-size:20px;" type="button" class="btn btn-warning">Arrendo Casa</button>
    </div>

    <p></p>
    <p></p>

    <div align="center">
        <input type=hidden name=sitesearch /><input id="tab" type=text name=q size=80 placeholder="Tipologia, Localidade...">&nbsp;&nbsp;<input height=" 100" type=submit class="btn btn-warning" value=Pesquisar>
    </div>

    <div align="center">
        <p></p>
    <div style="width: 19.5%; font-weight: bold;" class="form-group">
        <label style=" color:#A63800" for="exampleInputEmail1">Email address</label>
         <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div style="width: 19.5%; font-weight: bold;" class="form-group">
        <label style=" color:#A63800" for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password">
    </div>
    <button type="button" class="btn btn-warning">Registar</button> &ensp;&ensp;<button type="button" class="btn btn-warning">Recuperar Password</button>
    </div>

</body>

